/* Site Styles Go Here */

footer {
  background-color: white;
  height: 4rem;
  color: white;
  padding: 20px;
  position: relative;
  width: 100%;
}

.footer-left {
  position: absolute;
  left: 15%;
}

.footer-right {
  position: absolute;
  right: 15%;
}