/* Site Styles Go Here */

/* about page styles */

a.trainer-links {
  color: blue;
}
a.trainer-links:hover {
  color: green;
  text-decoration: underline;
}

/* services styles */

.list-group-item a:hover {
  background-color: rgb(52, 243, 52);
  color: blue;
}

/* results styles */

.col-lg-6 a:hover {
  background-color: green;
}

/* footer */

footer {
  background-color: white;
  height: 4rem;
  color: white;
  padding: 20px;
  position: relative;
  width: 100%;
}

.footer-left {
  position: absolute;
  left: 15%;
}

.footer-right {
  position: absolute;
  right: 15%;
}